/* .scroll-to-top-btn{
    position: fixed;
    bottom: 5%;
    left: 96%;
    background-color: yellow;
    border-radius: 50%;
    color: blue;
    font-weight: 900;
    z-index: 10000;
}
@media (max-width: 991.98px) { 
    .scroll-to-top-btn{
        position: fixed;
        bottom: 5%;
        left: 96%;
        background-color: yellow;
        border-radius: 50%;
        color: blue;
        font-weight: 900;
        z-index: 10000;
    }
    

 }
 @media (max-width: 767.98px) { 
    .scroll-to-top-btn{
        position: fixed;
        bottom: 5%;
        left: 85%;
        background-color: yellow;
        border-radius: 50%;
        color: blue;
        font-weight: 900;
        z-index: 10000;
        height: 10.5vmin;
        width: 10.5vmin;
    }
   

 } */



 .scroll-to-top-btn {
    position: fixed;
    background-color: yellow;
        border-radius: 50%;
        color: blue;
    bottom: 20px;
    right: 20px;
    opacity: 0;
    visibility: hidden;
    z-index: 10000;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  
    &.visible {
      opacity: 1;
      visibility: visible;
    }
  }